.root {
	-fx-border-width: 4px;
	-fx-border-style: solid;
	-fx-border-color: hotpink;
	-fx-border-radius: 5px;
}
.title-bar {
	-fx-background-color: hotpink;
}
.context-menu {
	-fx-opacity: .90;
	-fx-min-width: 120;
}

.menu-item {
	-fx-padding: 4 32 4 16;
}

.menu-item .label {
	
}

.menu-item:focused {
	-fx-background-color: dodgerblue;
	-fx-border-radius: 5;
}
.corner {
	-fx-background-color: black;
}
.web-view .scroll-bar .corner {    
    -fx-background-color: black;
}
.web-view .scroll-pane .corner {    
    -fx-background-color: black;
}

